/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

*{
    font-family: "Noto Serif KR", serif;;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

/* 피하기 */
.method {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text1 {
    font-size: 100px;
    color: rgb(250, 169, 55);
  }

#text2 {
    font-size: 120px;
    color: rgb(255, 135, 84);
  }

#text3 {
    font-size: 80px;
    color: rgb(255, 196, 0);
  }

#text4 {
    font-size: 90px;
    color: rgb(255, 196, 0);
  }
  
.none {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.good {
  font-size: 30px;
  color: rgb(0, 28, 87);
}

.bad {
  font-size: 30px;
  color: rgb(73, 0, 0);
}